 html {
    font-size: 65%;
    box-sizing: border-box;
 }  

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
  }

  .board {
    border: 1px solid #000;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
  }
  
  .display {
    width: auto;
    border: none;
    background-color: #000;
    color: #167;
    font-size: 4rem;
    text-align: center;
    padding: 1rem 2rem;
  }

  .cells {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 0;
    background-color: #357;
  }

  .readerboard{
    display: flex;
    justify-content: space-evenly;
  }   
  
  button {
    height: 100px;
    background-color: #444;    
    border: 1px solid #444;
    font-size: 4rem;
    color: #167;   
  }
  
  button.open:hover {
    background-color: #167;
    cursor: pointer;
  }

  button:hover {
    cursor: not-allowed;
  }
  
  

  